.DS_Store
.depcheck
node_modules/
dist/
coverage/
public/*.mp3
docs/slack.md
server/.env
gdi.code-workspace
docs/ideas.md
.env
har/
.todos/
stats.html
scripts/output/
scripts/input/
scripts/processed/
scripts/raw/
apps/home/src/data/output/
keys.env
ui-debug.log
firebase-debug.log
web/functions/*.log
playground/raw/
**/__snapshots__/
web/.env.dev
web/.env.production
web/.env.staging
playground/data/
web/.firebase/
web/public/boards
playground/serviceAccountKey.json
live/
