.DS_Store
.depcheck
node_modules
dist
coverage
.vscode
firebaseConfig.ts
firebaseServiceAccount.json
clients/gdi-admin/.firebaserc
firebase-debug.log
clients/gdi-admin/config/tsconfig.paths.extra.json
clients/gdi-admin/config/vite.extra.ts
*.fbx
*.obj
*.stl
*.mtl
.cloc
.todos
clients/gdi-admin/stats.html
clients/site
scripts/errors.txt
scripts/publishAll.sh
scripts/publishAll-waterfall.sh
scripts/patchAll.sh
scripts/pushSubmodules.sh
scripts/updateDependencies.js
scripts/copy-to.js
scripts/translate.sh
