.DS_Store
.depcheck
node_modules
dist
coverage
.vscode
firebaseConfig.ts
firebaseServiceAccount.json
clients/gdi-admin/.firebaserc
scripts/publishAll.sh
scripts/updateDependencies.js
firebase-debug.log
clients/gdi-admin/config/tsconfig.paths.extra.json
clients/gdi-admin/config/vite.extra.ts
*.fbx
*.obj
*.stl
*.mtl
package-lock.json
.cloc
.todos
clients/gdi-admin/stats.html
clients/site
