rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
   function isAdmin() {
      return request.auth.uid == 'PAHxuEzso8Ti68eYzgaEEjQlRns1'
    }
    
    match /uploads/{allPaths=**} {
      allow read;
      allow write: if isAdmin();
    }

    match /libraryImages/{allPaths=**} {
      allow read;
      allow write: if isAdmin();
    }
    
   	match /images/{allPaths=**} {
      allow read;
      allow write: if isAdmin();
    }
  }
}
