rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
   function isAdmin() {
      return request.auth.uid == 'USER_ID'
    }
    
    match /uploads/{allPaths=**} {
      allow get;
      allow write: if isAdmin();
    }

    match /libraryImages/{allPaths=**} {
      allow get;
      allow write: if isAdmin();
    }
    
   	match /people/{allPaths=**} {
      allow get;
      allow write: if isAdmin();
    }

   	match /images/{allPaths=**} {
      allow get;
      allow write: if isAdmin();
    }
  }
}
