@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wdth,wght@25..151,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo:wght@300&family=Orbitron&family=Share+Tech+Mono&family=Space+Mono&family=Syncopate&family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import '/fonts/style.css';

:root {
  --color-primary: #16161c;
  --color-bk: #111115;
  --color-text: #ccc;
  --color-border: rgba(245, 245, 255, 0.1);
  --color-button: #222227;
  --font-family: 'Share Tech Mono', monospace;
  --font-family: 'Encode Sans', Courier, monospace;
  --font-family: 'Space Mono', sans-serif;
  --font-family: 'Roboto Mono', monospace;
  --font-family: 'Exo 2';
  --font-family: 'Open Sans';
}

html {
  min-height: 100vh;
  display: flex;
}

body,
#root {
  margin: 0;
  display: flex;
  flex: 1;
  font-family: var(--font-family);
}

body {
  background-color: #000;

  &.lines {
    // background-image: linear-gradient(to bottom, #eee, #ffffff); /* Define your color stops */
    background-size: 10px 10px;
    background-repeat: repeat; /* Vertical repetition */
  }

  &.black {
    background-color: #000;

    &.lines {
      background-image: linear-gradient(to bottom, #040404, #000000); /* Define your color stops */
    }
  }
}

input,
textarea,
button {
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

html {
  font-size: 0.8px;

  @media (max-width: 800px) {
  }

  @media (min-width: 1400px) {
    // font-size: 0.8px;
  }

  @media (min-width: 2000px) {
    // font-size: 1px;
  }
}

.WaveForm-wrapper {
  .scroll {
    overflow-x: hidden !important;
  }
}

html {
  display: flex;
}

body {
  padding: 0;
  margin: 0;
  direction: ltr;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.2px;

  &.dark {
    background-color: #000;
    color: #fff;
  }

  &.rtl {
    direction: rtl;
  }

  @media (max-width: 768px) {
    width: 640px;

    &.no-scroll {
      max-height: 100vh;
      overflow: hidden;
    }
  }

  @media (max-width: 800px) {
    max-height: calc(100vh - 65px);

    &.fullscreen {
      max-height: 100vh;

      .BoardHeader-wrapper {
        top: 6px;
      }
    }
  }
}

h1,
h2,
h3,
h4,
input,
textarea {
  font-family: sans-serif;
}

body,
#root {
}

body {
  padding: 0;
}

.instance-container.transparent {
  border-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #334;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #667;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #889;
}

.firebase-emulator-warning {
  display: none;
}
