@import '@gdi/web-base-ui/index.css';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
.ScreenLoader-container.dark {
    background-color: rgb(31, 31, 47);
}

.SideMenu-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #232332;
    z-index: 3;
    box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.2);
    user-select: none;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 80ms linear;
    background-image: url(//raw.githubusercontent.com/dht/gdi/main/clients/gdi-admin/public/Group.svg);
}
.SideMenu-container a {
    color: #d3d3d3;
    text-decoration: none;
}
.SideMenu-container a:hover {
    text-decoration: underline;
}
.SideMenu-container::before {
    display: block;
    content: ' ';
    position: absolute;
    left: 0px;
    right: 0px;
    height: 2px;
    top: 0px;
    background-image: linear-gradient(
        to left,
        #232332 0%,
        rgba(255, 217, 0, 0.6) 100%
    );
}
.SideMenu-container .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 55px;
    background-color: #001;
    transition: all 180ms linear;
    animation-name: fade-right;
    animation-duration: 80ms;
    animation-fill-mode: forwards;
}
.SideMenu-container .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
}
.SideMenu-container .header .cancel {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 8px;
    position: absolute;
    right: -24px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-left: none;
    font-size: 12px;
    z-index: 9999;
    top: 50px;
    margin-top: -40px;
    border-radius: 0 2px 2px 0;
}
.SideMenu-container .header .cancel:hover {
    color: gold;
    background-color: rgba(255, 255, 255, 0.1);
}
.SideMenu-container .group {
    overflow: hidden;
}
.SideMenu-container .group > .title {
    font-size: 15px;
    padding: 20px 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
}
.SideMenu-container .group > .title:hover {
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
}
.SideMenu-container .group > .title .chevron {
    float: right;
    font-size: 12px;
    padding-top: 4px;
    opacity: 0;
    transition: transform 180ms linear, opacity 50ms linear;
}
.SideMenu-container .group > .title:hover .chevron {
    opacity: 0.7;
}
.SideMenu-container .group.open {
    background-color: rgba(0, 0, 30, 0.1);
}
.SideMenu-container .group.open > .title .chevron {
    transform: rotate(180deg);
}
.SideMenu-container .items {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}
.SideMenu-container .items .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.SideMenu-container .items .item:hover {
    background-color: rgba(255, 255, 255, 0.07);
}
.SideMenu-container .items .item:hover::before {
    display: block;
    content: ' ';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 2px;
    top: 0px;
    background-image: linear-gradient(to right, rgb(240, 90, 40) 0%, gold 100%);
}
.SideMenu-container .items .item .icon {
    font-size: 20px;
}
.SideMenu-container .items .item .title {
    margin-left: 13px;
    font-size: 16px;
}
.SideMenu-container .items .item.selected {
    background-color: rgba(255, 255, 255, 0.03);
}
.SideMenu-container .items .item.selected .icon {
    color: gold;
}
.SideMenu-container .items .item.selected .title {
    color: gold;
}
.SideMenu-container.slim {
    width: 55px;
    transition: all 50ms linear;
    box-shadow: none;
}
.SideMenu-container.slim .header .cancel {
    display: none;
}
.SideMenu-container.slim .items {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.SideMenu-container.slim .items .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 15px;
    text-decoration: none;
    cursor: pointer;
}
.SideMenu-container.slim .items .item:hover {
    background-color: rgba(255, 255, 255, 0.07);
}
.SideMenu-container.slim .items .item .icon {
    font-size: 24px;
}
.SideMenu-container.slim .items .item .title {
    display: none;
}

body.rtl .SideMenu-container {
    left: auto;
    right: 0;
}
body.rtl .SideMenu-container .overlay {
    position: fixed;
    left: 0;
    right: 55px;
    animation-name: fade-right-rtl;
}
body.rtl .SideMenu-container .items .item .title {
    margin-left: 0;
    margin-right: 13px;
}

@media (max-width: 768px) {
    .SideMenu-container {
        display: none;
    }
}
@keyframes fade-right {
    0% {
        opacity: 0;
        left: 0;
    }
    100% {
        left: 200px;
        opacity: 0.4;
    }
}
@keyframes fade-right-rtl {
    0% {
        opacity: 0;
        right: 0;
    }
    100% {
        right: 200px;
        opacity: 0.4;
    }
}

/*# sourceMappingURL=index.css.map */
