@import './normalize.scss';
@import './components/AccountSelector/AccountSelector.scss';
@import './components/AccountTag/AccountTag.scss';
@import './components/BigAutoComplete/BigAutoComplete.scss';
@import './components/ChartDoughnut//ChartDoughnut.scss';
@import './components/Clock/Clock.scss';
@import './components/ColorPalette/ColorPalette.scss';
@import './components/CommandBar/CommandBar.scss';
@import './components/ContextBar/ContextBar.scss';
@import './components/ElementSelector/ElementSelector.scss';
@import './components/KeyboardShortcuts/KeyboardShortcuts.scss';
@import './components/KeyboardHint/KeyboardHint.scss';
@import './components/LibrarySelector/LibrarySelector.scss';
@import './components/MessageModal/MessageModal.scss';
@import './components/Preview/Preview.scss';
@import './components/ScreenLoader/ScreenLoader.scss';
@import './components/SideMenu/SideMenu.scss';
@import './components/SidePanel/SidePanel.scss';
@import './components/LogsConsole/LogsConsole.scss';
@import './components/LogsSystem/LogsSystem.scss';
@import './components/Switcher/Switcher.scss';
@import './components/TypeView/TypeView.scss';
@import './components/WindowHeader/WindowHeader.scss';

.base-drawer .ms-Overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.base-drawer .ms-Panel-main {
    background-color: #334;
}

.Modal-wrapper {
    background-color: rgb(31, 31, 47);
    min-width: 500px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    border: 3px solid goldenrod;
    overflow-y: visible;
}
